In [83]:
import pandas as pd
import os

In [3]:
faulty_excel = 'S2_Faulty.xlsx'
current_folder_path = os.getcwd()
parent_folder_path = os.path.dirname(current_folder_path)
excel_file_path_F = os.path.join(parent_folder_path, 'data', faulty_excel)

In [5]:
df = pd.read_excel(excel_file_path_F)

In [88]:
df = pd.read_feather("df_f_feather")

In [11]:
df1 = df1.drop(columns = {'time'})

In [14]:
df1 = df1.drop(index=0)

In [16]:
df_bias =

In [92]:
import pandas as pd

# Clean the spaces in the label names
df['label'] = df['label'].str.replace(' ', '')

# Split the dataset based on labels
labels = ['Bias', 'Drift', 'Gain', 'NoFault', 'Outliers', 'Precisiondegradation']

datasets = {}

for label in labels:
    datasets[label] = df[df['label'] == label]

    # Rename the dataset as df_labelname
    globals()[f'df_{label}'] = datasets[label]

    # Optional: Save the dataset to a separate CSV file
    datasets[label].to_csv(f'df_{label}.csv', index=False)

In [91]:
df_Precisiondegredatation

Empty DataFrame
Columns: [time, value, label]
Index: []

In [24]:
# Print the size of each new DataFrame
print("Size of df_Bias:", df_Bias.shape)
print("Size of df_Drift:", df_Drift.shape)
print("Size of df_Gain:", df_Gain.shape)
print("Size of df_NoFault:", df_NoFault.shape)
print("Size of df_Outliers:", df_Outliers.shape)
print("Size of df_PrecisionDegredatation:", df_PrecisionDegredatation.shape)

Size of df_Bias: (184700, 2)
Size of df_Drift: (184701, 2)
Size of df_Gain: (184701, 2)
Size of df_NoFault: (184177, 2)
Size of df_Outliers: (524, 2)
Size of df_PrecisionDegredatation: (0, 2)

In [85]:
df_PrecisionDegredatation = pd.read_csv("df_PrecisionDegredatation.csv")

In [86]:
df_PrecisionDegredatation

Empty DataFrame
Columns: [value, label]
Index: []

In [84]:
import pandas as pd
import numpy as np

def split_column_into_rows(df, num_columns):
    values = df['value'].tolist()  # Get the values from the specified column as a list

    # Calculate the number of rows needed
    num_rows = len(values) // num_columns
    if len(values) % num_columns != 0:
        num_rows += 1

    # Create a new DataFrame with the specified number of columns
    new_df = pd.DataFrame(np.zeros((num_rows, num_columns)))

    # Iterate over the values and populate the new DataFrame
    for i, value in enumerate(values):
        row = i // num_columns
        col = i % num_columns
        new_df.iloc[row, col] = value

    return new_df

In [34]:
new_df = split_column_into_rows(df_Bias, 150)

In [41]:
new_df

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
0,-0.900545,-0.899803,-0.902359,-0.899715,-0.901006,-0.902636,-0.901117,-0.900902,-0.903255,-0.900783,...,-0.902740,-0.901214,-0.902251,-0.901940,-0.901075,-0.902543,-0.900798,-0.902071,-0.901502,-0.899895
1,-0.903585,-0.901364,-0.901194,-0.902778,-0.899472,-0.902102,-0.902617,-0.899822,-0.902151,-0.900076,...,-0.902082,-0.901064,-0.901298,-0.901202,-0.900587,-0.900856,-0.901763,-0.901390,-0.901352,-0.901075
2,-0.901041,-0.902524,-0.901402,-0.901740,-0.901713,-0.901448,-0.900960,-0.901021,-0.899888,-0.902440,...,-0.901106,-0.900875,-0.902140,-0.901821,-0.901825,-0.902217,-0.901529,-0.901713,-0.902221,-0.901944
3,-0.901164,-0.901882,-0.901340,-0.900960,-0.901413,-0.901125,-0.900718,-0.901091,-0.901010,-0.901360,...,-0.901467,-0.901390,-0.900741,-0.900564,-0.901460,-0.901083,-0.901329,-0.901344,-0.900541,-0.901460
4,-0.901287,-0.900948,-0.901114,-0.901394,-0.901913,-0.901590,-0.901202,-0.901617,-0.901367,-0.901371,...,-0.900906,-0.901317,-0.901694,-0.901594,-0.900664,-0.901168,-0.902032,-0.901487,-0.901448,-0.900645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227,-0.901709,-0.902859,-0.902182,-0.901829,-0.902494,-0.902378,-0.901125,-0.900322,-0.900145,-0.900652,...,-0.901283,-0.901471,-0.900287,-0.899818,-0.900237,-0.899280,-0.899641,-0.900433,-0.901210,-0.901663
1228,-0.903393,-0.903339,-0.903293,-0.904915,-0.903301,-0.902751,-0.902359,-0.901829,-0.901656,-0.902417,...,-0.901348,-0.900656,-0.901168,-0.901898,-0.899419,-0.900798,-0.899888,-0.899726,-0.899380,-0.900260
1229,-0.902836,-0.900576,-0.900034,-0.900902,-0.900641,-0.901744,-0.902178,-0.902878,-0.902309,-0.901917,...,-0.902340,-0.903312,-0.903839,-0.903689,-0.902951,-0.901383,-0.901494,-0.900245,-0.899580,-0.900149
1230,-0.900503,-0.902032,-0.901033,-0.901433,-0.900464,-0.900107,-0.900061,-0.900207,-0.900606,-0.900214,...,-0.900014,-0.900145,-0.900141,-0.900349,-0.900437,-0.901356,-0.901171,-0.901567,-0.902563,-0.902678
1231,-0.903132,-0.902624,-0.902932,-0.903650,-0.902916,-0.902213,-0.901521,-0.900749,-0.901183,-0.900841,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [59]:
import pandas as pd
import numpy as np

def split_column_into_rows(df, num_columns, overlapping_ratio):
    values = df['value'].to_numpy()  # Get the values from the specified column as a NumPy array

    # Calculate the number of rows needed
    num_rows = len(values) // num_columns
    if len(values) % num_columns != 0:
        num_rows += 1

    # Calculate the number of overlapping elements between adjacent rows
    overlapping_elements = int(num_columns * overlapping_ratio / 100)

    # Calculate the total number of elements in each row, considering the overlapping elements
    row_elements = num_columns - overlapping_elements

    # Calculate the required number of values to fill the last row
    last_row_fill = num_columns - (num_rows * row_elements)

    # Create a new NumPy array to store the split values
    new_values = np.zeros((num_rows, num_columns))

    # Iterate over the values and populate the new array
    for i, value in enumerate(values):
        row = i // row_elements
        col_start = (i % row_elements) * (row_elements + overlapping_elements)
        col_end = col_start + row_elements

        new_values[row, col_start:col_end] = value

    # Fill the remaining spaces in the last row with zeros
    if last_row_fill > 0:
        new_values[-1, -last_row_fill:] = 0

    # Convert the new array into a DataFrame
    new_df = pd.DataFrame(new_values)

    return new_df

In [66]:
import pandas as pd
import numpy as np

def split_column_into_rows(df, num_columns, overlapping_ratio):
    values = df['value'].to_numpy()  # Get the values from the specified column as a NumPy array

    # Calculate the number of rows needed
    num_rows = len(values) // num_columns
    if len(values) % num_columns != 0:
        num_rows += 1

    # Calculate the number of overlapping elements between adjacent rows
    overlapping_elements = int(num_columns * overlapping_ratio / 100)

    # Calculate the total number of elements in each row, considering the overlapping elements
    row_elements = num_columns - overlapping_elements

    # Calculate the required number of values to fill the last row
    last_row_fill = num_columns - (len(values) % num_columns)

    # Extend the values array with zeros if necessary to ensure even splitting
    values = np.pad(values, (0, last_row_fill), mode='constant', constant_values=0)

    # Reshape the values array into the desired shape with overlapping
    new_values = np.zeros((num_rows, num_columns))

    for i, value in enumerate(values):
        row = i // row_elements
        col_start = (i % row_elements) * (row_elements + overlapping_elements)
        col_end = col_start + row_elements
        if row < num_rows:
            new_values[row, col_start:col_end] = value

    # Convert the new array into a DataFrame
    new_df = pd.DataFrame(new_values)

    return new_df

In [76]:
import pandas as pd
import numpy as np

def split_column_into_rows(df, num_columns, overlapping_ratio):
    values = df['value'].to_numpy()  # Get the values from the specified column as a NumPy array

    # Calculate the number of overlapping elements between adjacent rows
    overlapping_elements = int(num_columns * overlapping_ratio / 100)

    # Calculate the total number of elements in each row, considering the overlapping elements
    row_elements = num_columns - overlapping_elements

    # Calculate the number of rows needed
    num_rows = (len(values) + row_elements - 1) // row_elements

    # Calculate the required number of values to fill the last row
    last_row_fill = (num_rows * num_columns) - len(values)

    # Extend the values array with zeros if necessary to ensure even splitting
    values = np.pad(values, (0, last_row_fill), mode='constant', constant_values=0)

    # Reshape the values array into the desired shape with overlapping
    new_values = np.zeros((num_rows, num_columns))
    for i in range(num_rows):
        start = i * row_elements
        end = start + num_columns
        new_values[i] = values[start:end]

    # Convert the new array into a DataFrame
    new_df = pd.DataFrame(new_values)

    return new_df

In [81]:
new_df1 = split_column_into_rows(df_Bias, 10,50 )

In [82]:
new_df1

,0,1,2,3,4,5,6,7,8,9
0,-0.900545,-0.899803,-0.902359,-0.899715,-0.901006,-0.902636,-0.901117,-0.900902,-0.903255,-0.900783
1,-0.902636,-0.901117,-0.900902,-0.903255,-0.900783,-0.902224,-0.902025,-0.900510,-0.901229,-0.901855
2,-0.902224,-0.902025,-0.900510,-0.901229,-0.901855,-0.899495,-0.902055,-0.901387,-0.900948,-0.901882
3,-0.899495,-0.902055,-0.901387,-0.900948,-0.901882,-0.900506,-0.902417,-0.902578,-0.900522,-0.902570
4,-0.900506,-0.902417,-0.902578,-0.900522,-0.902570,-0.901429,-0.900441,-0.902936,-0.899957,-0.902005
...,...,...,...,...,...,...,...,...,...,...
36935,-0.900756,-0.900587,-0.900460,-0.901317,-0.900925,-0.901433,-0.901463,-0.901279,-0.901371,-0.901502
36936,-0.901433,-0.901463,-0.901279,-0.901371,-0.901502,-0.902436,-0.902178,-0.903493,-0.903439,-0.903281
36937,-0.902436,-0.902178,-0.903493,-0.903439,-0.903281,-0.902597,-0.902590,-0.902167,-0.902017,-0.901045
36938,-0.902597,-0.902590,-0.902167,-0.902017,-0.901045,-0.900633,-0.900464,-0.900157,-0.900360,-0.900318
36939,-0.900633,-0.900464,-0.900157,-0.900360,-0.900318,0.000000,0.000000,0.000000,0.000000,0.000000